<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.realtorandviewer"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RealtorAndViewer">
        <activity
            android:name=".RealtorAddPastSale"
            android:exported="false" />
        <activity
            android:name=".RealtorFavoritesBtn"
            android:exported="false" />
        <activity
            android:name=".ViewerFindProps"
            android:exported="false" />
        <activity
            android:name=".ResourceViewerViewProperties"
            android:exported="false" />
        <activity
            android:name=".ResourceViewerPlanFinance"
            android:exported="false" />
        <activity
            android:name=".ResourceViewerPurchased"
            android:exported="false" />
        <activity
            android:name=".ResourceViewerMakeAnOffer"
            android:exported="false" />
        <activity
            android:name=".ResourceViewerPrepareToBuy"
            android:exported="false" />
        <activity
            android:name=".ResourcesPageViewer"
            android:exported="false" />
        <activity
            android:name=".ResourceRealtorOffer"
            android:exported="false" />
        <activity
            android:name=".ResourceRealtorMarketing"
            android:exported="false" />
        <activity
            android:name=".ResourceRealtorListing"
            android:exported="false" />
        <activity
            android:name=".ResourceRealtorPrepareToSell"
            android:exported="false" />
        <activity
            android:name=".RegisterViewer"
            android:exported="false" />
        <activity
            android:name=".RegisteringType"
            android:exported="false" />
        <activity
            android:name=".RealtorAddListings"
            android:exported="false" />
        <activity
            android:name=".Forgot"
            android:exported="false" />
        <activity
            android:name=".ResourcesPageRealtor"
            android:exported="false" />
        <activity
            android:name=".RealtorPastSales"
            android:exported="false" />
        <activity
            android:name=".RealtorListings"
            android:exported="false" />
        <activity
            android:name=".RecommendedRealtor"
            android:exported="false" />
        <activity
            android:name=".MortgageCalculator"
            android:exported="false" />
        <activity
            android:name=".Favourites"
            android:exported="false" />
        <activity
            android:name=".FindProperties"
            android:exported="false" />
        <activity
            android:name=".FindRealtor"
            android:exported="false" />
        <activity
            android:name=".HomePageRealtor"
            android:exported="false" />
        <activity
            android:name=".HomePageViewer"
            android:exported="false" />
        <activity
            android:name=".RegisterRealtor"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>